{% extends "WikiSearchBundle::base.html.twig" %}
{% block pageContainer %}
        {% set url = app.request.uri %}
        {% set controller = 'off' %}
        {{ render(controller('WikiSearchBundle:SearchForm:index', { 'url': url })) }}
    {% if wikiPages == NULL %}
        <p>Not found any matches.</p>
    {% else %}
        {% for article in wikiPages %}
            {{article.title}} <br><hr>
        {% endfor %}
    {% endif %}
{% endblock %}
